@import "../../assets/css/config";
#bottom{
	.bot{
		height:52px;
		line-height:52px;
		color:#fff;
		font-size:13px;
		padding:0 13px 0 20px;
		border-top: 1px solid #CECECE;
    	background: #2a2725;
    	box-sizing:border-box;
	}
}