@import "../../assets/css/config";
#noticeDiv{
	h3{
		text-align:center;
		font-size:20px;
	}
	.time{
		text-align:center;
		color:#999;
		font-size:12px;
		line-height:40px;
	}
	.headBox{
		img{
			width:100%;
		}
	}
	.userInfoBox{
		p{
			line-height:1.5;
			margin-bottom:15px;
		}
	}
}